---
layout: default
title: Research
---

<div class="research">
  <h1 class="page-heading">{{ page.title }}</h1>

  <ul class="research-list">
    {% for project in site.research %}
    <li>
      <h2><a href="{{ project.url }}">{{ project.title }}</a></h2>
      <p>{{ project.abstract }}</p>
      <span class="post-meta">{{ project.date | date: "%b %-d, %Y" }}</span>
    </li>
    {% endfor %}
  </ul>

  {% if paginator %}
  <div class="pager">
    <ul class="pagination">
      {% if paginator.previous_page %}
      <li>
        <a
          href="{{ paginator.previous_page_path | relative_url }}"
          class="previous-page"
          >Previous</a
        >
      </li>
      {% endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
      {% if paginator.next_page %}
      <li>
        <a
          href="{{ paginator.next_page_path | relative_url }}"
          class="next-page"
          >Next</a
        >
      </li>
      {% endif %}
    </ul>
  </div>
  {% endif %}
</div>
